
@{
    ViewBag.Title = "Оборудование";
}

@section head {
    <link rel="stylesheet" href="@Url.Content("~/Content/font-awesome.min.css")" />
}

<h2>Оборудование</h2>

<div class="row">
    <p>
        <a href="#" class="btn btn-default" role="button" onclick="getEquipment()"><i class="fa fa-refresh"></i> Display</a>
    </p>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Артикул</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>На складе</th>
                <th>Примечания</th>
                <th>Ссылки</th>
            </tr>
        </thead>
        <tbody id="data-update"></tbody>
    </table>
</div>

@section scripts
{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    getEquipment();
        //});

        function getEquipment() {
            $.getJSON("/api/equipment", function (data) {
                var newRows = '';
                $.each(data, function (key, val) {
                    var article = val.Article;
                    var description = val.Description;
                    var price = val.Price.toFixed(2);
                    var inStock = val.InStock === true ? "да" : "нет";
                    newRows += "<tr>";
                    newRows += "<td>" + article + "</td><td>" + description + "</td><td>" + price +
                        "</td><td>" + inStock + "</td><td>" + "-" + "</td>";
                    newRows += "<td><a href=\"#\" title=\"Удалить\"><i class=\"fa fa-times\"></i></a></td>";
                    newRows += "<tr>";
                });
                $("#data-update").html(newRows);
            });
        }
    </script>
}
